alphashape==1.3.1
annotated-types==0.7.0
anyio==4.12.0
anywidget==0.9.21
asarPy==1.0.1
asttokens==3.0.0
attrs==25.4.0
beautifulsoup4==4.14.3
bqplot==0.12.45
branca==0.8.2
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
click-log==0.4.0
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
cykhash==2.0.1
Cython==3.1.3
debugpy==1.8.17
decorator==5.2.1
duckdb==1.4.1
et_xmlfile==2.0.0
eval_type_backport==0.3.1
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.20.0
folium==0.20.0
fonttools==4.60.1
gdown==5.2.0
geodatasets==2026.1.0
geographiclib==2.1
geojson==3.2.0
geopandas==1.1.0
geopy==2.4.1
googletrans==4.0.2
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
ipyevents==2.0.4
ipyfilechooser==0.6.0
ipykernel==7.1.0
ipyleaflet==0.20.0
ipython==9.6.0
ipython_pygments_lexers==1.1.1
ipytree==0.2.2
ipyvue==1.11.3
ipyvuetify==1.11.3
ipywidgets==8.1.8
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-leaflet==0.20.0
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
kiwisolver==1.4.9
leafmap==0.57.10
lxml==6.0.2
Mako==1.3.10.dev0
mapclassify==2.9.0
maplibre==0.3.5
Markdown==3.9
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.2.1
meson==1.5.2
narwhals==2.10.2
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
numpy==2.3.4
openpyxl==3.1.5
OWSLib==0.35.0
packaging==25.0
pandas==2.3.3
parso==0.8.5
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.5.0
plotly==6.4.0
pooch==1.8.2
prompt_toolkit==3.0.52
psutil==7.1.3
psygnal==0.15.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==22.0.0
pycairo==1.28.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
PyGObject==3.50.1
pyogrio==0.11.1
pyparsing==3.2.5
pyproj==3.7.2
pyrobuf==0.9.3
pyrosm==0.6.2
PySocks==1.7.1
pystac==1.14.1
pystac-client==0.9.0
python-box==7.3.2
python-dateutil==2.9.0.post0
python-rapidjson==1.22
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
requests==2.32.3
rpds-py==0.28.0
rtree==1.4.1
scikit-learn==1.7.2
scipy==1.16.3
scooby==0.11.0
seaborn==0.13.2
setuptools==80.9.0
shapely==2.1.2
six==1.17.0
soupsieve==2.8
stack-data==0.6.3
threadpoolctl==3.6.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.3
trimesh==4.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
wcwidth==0.2.14
wheel==0.46.1
whitebox==2.3.6
whiteboxgui==2.3.0
widgetsnbextension==4.0.15
xyzservices==2025.10.0
